
@{
    ViewBag.Title = "Fire And Forget";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">
    <div class="col-md-8 col-xs-offset-2 col-xs-12">
        <div class="page-header">
            <h1><i class="fa fa-wrench pad-r"></i>Ejecutar tareas asincrónicamente</h1>
        </div>
        <h2>Content goes here</h2>
    </div>
</div>

